git+https://github.com/huggingface/diffusers.git
git+https://github.com/huggingface/transformers.git
--extra-index-url https://download.pytorch.org/whl/cu117
torch >= 2.0
huggingface_hub
transformers
soundfile
librosa==0.9.2
unidecode
progressbar
phonemizer
ftfy
timm
einops
torchlibrosa>=0.0.9
chardet
gradio
numpy<=1.23.5
pandas
